# spiped systemd init unit
[Unit]
Description=spiped tunnel (ssh)
After=network.target

[Service]
User=root
ExecStart=/usr/local/bin/spiped -d -g -F -k '/etc/ssh/spiped.key' -p /dev/null -s '<source socket>' -t '<target socket>'
Restart=always

[Install]
WantedBy=multi-user.target
Alias=spiped.service
